*{
  font-family: 'Times New Roman', Times, serif;
}
.sectio_header b{
  font-size: 30px;
}

a{
  text-decoration: none;
  
}

/* git push command

git push -u origin main

*/

/* ------------------------ */

/* nav css start */
.navbar{
  padding: 0;
}
.navbar-brand{
  font-size: 35px;
}
.logotext{
  color: chocolate;
  
}
.navbar-nav{}
.navbar-nav .nav-item{}
.navbar-nav .nav-item .nav-link{
  text-transform: uppercase;
}
.navbar-nav .nav-item:hover .nav-link{
background-color: chocolate;


}


/* nav css end */
/* bannar css start  */
.carousel-indicators button[data-bs-target="#carouselExampleDark" ]{
  width: 20px;
  height: 20px;
  border: 2px solid orange;
  border-radius: 50%;
}

.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: chocolate;
}

.carousel-item img{
  height: 400px;
  object-fit: cover;
}

.carousel-caption h5,p{
  color: chocolate;
}
/* bannar css end  */
/* about css start */
.imgs img{
  width: 350px;
}
.social_icon> li a i{
  font-size: 30px;
  color: black;
}
/* about css end */
/* service css start */
.service{
  height: 350px;
}
.service div{
  overflow: hidden;
}
.service img{
  height: 150px;
  object-fit: cover;
}
.service:hover img{
transform: scale(1.2);
transition: 1s;
}
/* service css end */
/* skills css start */
.skills{
  margin-top: 7px;
  height: 230px;
}
.skills div {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: bisque;
}
.skills:hover{
  background-color: rgb(198, 196, 196);
  transition: 1s;
  
}
.skills:hover {
 
}

/* skills css end */
/* protfolio css start  */

/* protfolio css end  */
/* coustomar review  css start */
.review_logo{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  
}

.pbfore {
/* position: relative; */
}
.pbfore::before {
content: '"';
font-size: 20px;
/* position: absolute;
top: 0;
left: 0; */
}
.pbfore::after {
content: '"';
font-size: 20px;
/* position: absolute;
top: 0;
left: 0; */
}
/* coustomar review  css end */

/* contract css start */
.location-indicator{
  display: flex;
}
/* contract css end */




